<section id="login-container" *ngIf="!loggedIn">
  <section id="form-content">
    <form class="in-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="title">Login</div>

      <div class="input-group">
        <label>Email</label>
        <input
          id="input-email"
          type="text"
          placeholder="email@email.com"
          formControlName="email"
        />
        <div
          [hidden]="!email.errors"
          class="error-message-container"
        >
          <div *ngIf="email.touched && email.hasError('required')">
            Required
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input
          id="input-password"
          type="password"
          placeholder="password"
          formControlName="password"
        />
        <div [hidden]="!password.errors" class="error-message-container">
          <div *ngIf="password.touched && password.hasError('required')">
            Required
          </div>
        </div>
      </div>

      <div class="buttons-row">
        <a (click)="navigateTo('sign-in')" class="in-form-button">Sign In</a>
        <button
          type="submit"
          class="in-form-button"
          id="login-btn"
          [disabled]="loginForm.invalid || responseErrorMessage"
        >
          Login
        </button>
      </div>
      <div [hidden]="!responseErrorMessage" class="error-message-container">
        <div *ngIf="responseErrorMessage" class="error-box">
          {{ responseErrorMessage }}
        </div>
      </div>
    </form>
  </section>
</section>
