<section id="nested-data-container" class="table-box">
  <section id="nested-data-header" #nesteddataheader class="table-header">
    <div class="table-row">
      <span>Num</span>
      <span class="flex-justify-right">Amount</span>
      <span>Description</span>
      <div [ngStyle]="{ width: scrollbarWidth + 'px' }"></div>
    </div>
  </section>

  <section id="nested-data-content" #nesteddatacontent class="table-content">
    <div class="no-data" *ngIf="policies?.length === 0">
      No Policies
    </div>
    <div
      *ngFor="let policy of policies; let index = index; let odd = odd"
      (click)="getDetails(policy.polId, index)"
    >
      <div
        class="table-row"
        [ngClass]="{ odd: odd, 'selected-row': selectedPolicyInd === index }"
      >
        <span>
          {{ selectedPolicyInd === index ? '&#x23F7; ' : '&#x23F5; ' }}
          {{ policy.num }}</span
        >
        <span class="flex-justify-right">{{ policy.amount }}</span>
        <span>{{ policy.description }}</span>
      </div>

      <div *ngIf="selectedPolicyInd === index" class="table-box-sub1">
        <div class="table-header" *ngIf="policyDetails?.length > 0">
          <div class="table-row-sub1">
            <span>Client Name</span>
            <span class="flex-justify-right">Amount</span>
          </div>
        </div>
        <div class="table-content">
          <div *ngFor="let policyDetail of policyDetails; let odd1 = odd">
            <div class="table-row-sub1" [ngClass]="{ odd: odd1 }">
              <span>{{ policyDetail.clientName }}</span>
              <span class="flex-justify-right">{{ policyDetail.amount }}</span>
            </div>
          </div>
        </div>
        <div class="no-data" *ngIf="policyDetails?.length === 0">
          No Details
        </div>
      </div>
    </div>
  </section>
</section>
